
# Se ignoran archivos que contienen credenciales o configuraciones sensibles.
# Esto ayuda a proteger información privada y mantener la seguridad del proyecto.
# No bastará con clonar el repositorio para que el proyecto funcione, será necesario incluir denuevo estos archivos

# Node modules
node_modules/
